@import 'variables';

.portada{
    height: 90vh;
    width: 100%;
    position: relative;
    .portada__fondo{
        position: absolute;
        filter: blur(2px);
        height: 100%;
        width: 100%;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .portada__contenedor{
        position: absolute;
        top: 10%;
        left: 10%;
        height: 80%;
        width: 80%;
        margin: auto;
        border: 2px solid violet;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url("../img/gif-edicion-2.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .portada__divH1{
            text-align: center;
            padding: 10px;
            color: rgb(245, 179, 240);
            background-color: rgba(14, 13, 13, 0.829);
            
            span{
                color: rgb(255, 56, 255);
                font-weight: 600;
                font-family: $fontMateSC;
            }
        }
        .portada__divLogo{
            background-color: rgba(14, 13, 13, 0.829);
            padding: 10px;
        }
    }
}




/* EMPIEZA SECCION decripcion de Edito tu foto */

.descripcionETF{
    margin-top: 10vh ;
}

.descripcionETF__titulo{    
    text-align: center;
    font-size: 4vw;
    white-space: nowrap;
    letter-spacing: 10px;
    color: rgb(179, 26, 166);
    text-shadow: -3px 10px 6px rgb(104, 104, 104);
    padding: 50px 0px;

}

.descripcionETF__pasos{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 10vw 30px 10vw;
    padding: 100px 0px;
    border-radius: 10px;
    box-shadow: -2px 1px 11px 3px rgba(153, 98, 160, 0.74);
    -webkit-box-shadow: -2px 1px 11px 3px rgba(153, 98, 160, 0.74);
    -moz-box-shadow: -2px 1px 11px 3px rgba(153, 98, 160, 0.74);
    
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -10;
        height: 300px;
        width: 300px;
        background-color: rgba(217, 81, 255, 0.301);
        -webkit-clip-path: polygon(95% 63%, 98% 60%, 100% 35%, 100% 83%, 100% 100%, 34% 100%, 65% 96%, 77% 86%, 94% 91%, 86% 72%);
        clip-path: polygon(95% 63%, 98% 60%, 100% 35%, 100% 83%, 100% 100%, 34% 100%, 65% 96%, 77% 86%, 94% 91%, 86% 72%);

    }



    p{
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
    i{
        font-size: 5rem;
        margin: auto;
        color: $dark-orchid;
    }
}

.descripcionETF__logo{
    padding: 100px 0px;
    text-align: center;
}


/* EMPIEZA FORM etf */

.form-ETF{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px auto;
    background-color: rgba(168, 153, 179, 0.315);
    border-radius: 10px;
    box-shadow: -2px 1px 11px 3px rgba(153, 98, 160, 0.74);
    -webkit-box-shadow: -2px 1px 11px 3px rgba(153, 98, 160, 0.74);
    -moz-box-shadow: -2px 1px 11px 3px rgba(153, 98, 160, 0.74);

}

.form-ETF__span{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 1em;
}
.form-ETF__campos{
    padding: 1em;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 20px;
    color: hotpink;
    
    .form-ETF__label{
        padding: 1rem;
    }
    .form-ETF__input{
        @extend .form-ETF__campos;

    }
}
.form-ETF__botones--enviar{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    color: rgb(145, 37, 155);
}
.form-ETF__botones--cargar{
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px;
    color: hotpink;
}




@media (max-width: 900px) {
    
    /* EDITO TU FOTO */

    .contenedorETFIndex > div:nth-child(2){
        display: none;
        grid-column: 1 / 3;
    }
    .contenedorETFIndex > div:nth-child(3){
        grid-column: 1 / 3;
        padding-left: 10px;
    }

    .contenedorFormIndex > div{
        margin: 5px auto;
        padding: 10px 0px;
    }
}


@media (max-width: 767px) {

    /* EMPIEZA PORTADA */

    .portada{
        height: 70vh;
        flex-direction: column;
        align-items: center;

    }
    .portada__contenido{ 
            h1{
                position: absolute;
                bottom: 50px;
                left: 0;
                display: inline-block;
                white-space: nowrap;
                letter-spacing: 10px;
                color: rgb(179, 26, 166);
                text-shadow: -3px 10px 6px rgb(104, 104, 104);
                font-size: 1.5rem;
            }
            img{
                position: absolute;
                right: 50px;
                bottom: 80px;
                display: inline-block;

                height: 200px;
                width: 200px;
            }


        

    /* EMPIEZA SECCION decripcion de Edito tu foto */


    .descripcionETF__pasos{
        i{
            margin-left: 40%;
        }
    }

    }


    /* FORM */


    .form-ETF__campos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .form-ETF__label{
            padding: 1rem;
        }
        
    }
}
